<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-yzq-customer-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>CustomerPlugin</name><js-module name="CustomerPlugin" src="www/CustomerPlugin.js"><clobbers target="customer_plugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="CustomerPlugin"><param name="android-package" value="com-yzq-customer-plugin.CustomerPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/CustomerPlugin.java" target-dir="src/com-yzq-customer-plugin/CustomerPlugin" /></platform></plugin>